/* Estilo básico */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #282828;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.language-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-switch input[type="checkbox"] {
    display: none;
}

.language-switch .flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.pt .language-switch #pt-flag {
    opacity: 1;
}

.pt .language-switch #en-flag {
    opacity: 0.5;
}

.en .language-switch #pt-flag {
    opacity: 0.5;
}

.en .language-switch #en-flag {
    opacity: 1;
}

/* Títulos principais */
h1, h2, h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Seções */
section {
    margin: 40px;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

/* Lista de habilidades */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 5px 0;
}

/* Botões */
.btn {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

/* Animações */
section {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos do Menu */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.experience-item {
    margin-bottom: 20px;
}

/* Alterando a cor do switch */
.language-switch input[type="checkbox"]:checked + .flag {
    opacity: 0.5;
}
